*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background-color: #ccc; */
}

header{
    /* padding: 2px; */
}

.navbar{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 20px;
    cursor: pointer;
    /* border: 1px solid #ccc; */
}

.nav-logo img{
    width: 90px;
    top: 29px;
    left: 54px;
    gap: 5px;
}

.nav-list{
    display: flex;
    column-gap: 2rem;
    list-style: none;
    cursor: pointer;
    font: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}

.nav-list a{
    text-decoration: none;
    color: #000;
}
.nav-item{
    display: flex;
    column-gap: 2rem;
    font: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}

.hero-section{
    width: 100%;
    background-image: url(./img/hero-section/scandinavian-interior-mockup-wall-decal-background\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    top: 10%;
}

article {
    position: absolute; /* This allows you to manually place it */
    top: 253px;
    right: 10vh; /* Moves it to the right */
    background: #FFF3E3;
    max-width: 643px;
    width: 100%;
    padding: 20px;
    /* line-height: 1.5; */
    height: 300px;
    border-radius: 10px;
}

#buy-now{
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 50px;
    outline: 0;
    border: 0;
    background: #B88E2F;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.button-section{
    position: absolute;
    left: 3%;
    bottom: 10px;
}

.head-text h1{
    color: #B88E2F;
    font: Poppins;
    font-size: 33px;
    font-weight: 700;
    line-height: 50px;
    size: 52px;
    letter-spacing: 0px;
}

.head-text .text-p{
    font-size: 16px;
    font: Poppins;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 100%;
    color: #333333;
    letter-spacing: 3px;
    font-size: 16px;
}

.head-text .context p{
    font-size: 16px;
    color: #333333;
}

.container{
    background: #FFFFFF;
    padding-top: 40px;
    width: 100%;
}

.item-content{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    padding: 20px;
    max-width: 2000px;
}

.text-header{
    text-align: center;
    line-height: 1.5;
}

.text-header span h1{
    font: poppins;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.7;
    letter-spacing: 0px;
    color: #333333;
}

.text-header span p{
    color: #666666;
    letter-spacing: 0px;
    line-height: 100%;
    font-size: 12px;
    font-weight: 400;
}

.item-content span img{
    width: 381px;
    height: auto;
    top: 1008px;
    left: 933px;
}

.item-content span p{
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.item-content a{
 font: Poppins;
 font-weight: 550;
 font-size: 16px;
 line-height: 100%;
 letter-spacing: 0px;
align-items: center;
text-decoration: none;
color: #333333;
}

.product-content{
    padding: 20px;
}



.products-items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-content: center;
    column-gap: 10px;
    row-gap: 30px;
    padding: 20px;
}

.product-text span h1{
    text-align: center;
    font: poppins;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.products-items div{
    line-height: 1.6;
    font: Poppins;
}

.products-items  .intro{
    font-weight: 600;
    color: #3A3A3A;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
}


.price{
    display: flex;
    font-size: 13px;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
}

.price del{
    color: #898989;
    font-weight: 500;
    letter-spacing: 0%;
    line-height: 150%;
    font-family: poppins;
    cursor: pointer;
}

.price .asset{
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    font-family: poppins;
    letter-spacing: 0%;
    cursor: pointer;
}

.price .figure{
    font: poppins;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0%;
    cursor: pointer;
}

.item-pro-1{
       position: relative;
}

.item-pro-2{
       position: relative;
}

.item-pro-3{
       position: relative;
}

.item-pro-4{
       position: relative;
}

.item-pro-5{
       position: relative;
}

.item-pro-6{
       position: relative;
}

.item-pro-7{
       position: relative;
}

.item-pro-8{
       position: relative;
}


.discount-1 {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    right: 10px;
    padding: 10px;
    top: 10px;
    margin-top: 25px;
    color: #FFFFFF;
    font: 16px;
    font-weight: 500;
}

.discount-2 {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    right: 10px;
    padding: 10px;
    top: 10px;
    margin-top: 25px;
    color: #FFFFFF;
    font: 16px;
    font-weight: 500;
}


.discount-3 {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    right: 10px;
    padding: 10px;
    top: 10px;
    margin-top: 25px;
    color: #FFFFFF;
    font: 16px;
    font-weight: 500;
}


.discount-4 {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    right: 10px;
    padding: 10px;
    top: 10px;
    margin-top: 25px;
    color: #FFFFFF;
    font: 16px;
    font-weight: 500;
}


.discount-5 {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    right: 10px;
    padding: 10px;
    top: 10px;
    margin-top: 25px;
    color: #FFFFFF;
    font: 16px;
    font-weight: 500;
}


.discount-6 {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    right: 10px;
    padding: 10px;
    top: 10px;
    margin-top: 25px;
    color: #FFFFFF;
    font: 16px;
    font-weight: 500;
}


.discount-7 {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    right: 10px;
    padding: 10px;
    top: 10px;
    margin-top: 25px;
    color: #FFFFFF;
    font: 16px;
    font-weight: 500;
}


.discount-8 {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #2EC1AC;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    right: 10px;
    padding: 10px;
    top: 10px;
    margin-top: 25px;
    color: #FFFFFF;
    font: 16px;
    font-weight: 500;
}


